<div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-secondary">
        <a class="navbar-brand" href="#">{{'title' | translate}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-md-auto d-md-flex">
                <li id="contentConnect" class="nav-item">
                    <a *ngIf=" this.serviceLogin.Auth == false" routerLink="/login" id="connexion" class="nav-link">{{'login.connection' | translate}}</a>
                    <a *ngIf=" this.serviceLogin.Auth == true" id="connexion" (click)="deconexion()" class="nav-link">{{'login.deconection' | translate}}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>