<p>{{error | translate}}</p>
<section class ="container-fluid mx-auto">
    <h1 class="text-center">Inscription</h1>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <article class="col-sm-7 card mx-auto">
            <form class='row col-sm-9 card-body mx-auto' [formGroup]="form" >
              <div class="col-sm-6">
                <label for="firstname">{{ 'formfield.firstname' | translate }}</label>
                <span class = " error" *ngIf="form.controls.firstname.errors">
                  {{ 'formfield.error.firstname' | translate }}
                </span>
                <input formControlName="firstname" type="text" class="form-control" id="firstname" name="firstname">
              </div>
              <div class="col-sm-6">
                <label for="name">{{ 'formfield.name' | translate }}</label>
                <span class = " error" *ngIf="form.controls.name.errors">
                  {{ 'formfield.error.name' | translate }}
                </span>
                <input formControlName="name" type="text" class="form-control" id="name" name="name">
              </div>
              <div class="col-sm-6">
                <label for="name">{{ 'formfield.username' | translate }}</label>
                <input formControlName="username" type="text" class="form-control" id="username" name="username">
              </div>               
              <div class="col-sm-6">
                <label for="mail">{{ 'formfield.mail' | translate }}l</label>
                <span class = " error" *ngIf="form.controls.mail.errors">
                  {{ 'formfield.error.mail' | translate }}
                </span>
                <input formControlName="mail" type="text" class="form-control" id="mail" name="mail">
              </div>           
              <div class="col-sm-6">
                <label for="pass">{{ 'formfield.password' | translate }}</label>
                <input formControlName="password" type="password" class="form-control" id="pass" name="pass">
              </div>
              <div class="col-sm-6">
                <label for="confPass">{{ 'formfield.confirmPass' | translate }}</label>
                <input formControlName="confPass" type="password" class="form-control" id="confPass" name="confPass">
              </div>
            </form>
            <div class = "row mx-auto">
            <div class="button col-sm-5 ">
              <input class="btn btn-success" type="button" (click)="register()" value="Inscription">
            </div>
          <div class="register col-sm-7">
            <button class=" btn btn-primary" routerLink="/login">Déjà inscrit ?</button>
          </div>
        </div>
      </article>
        </div>
      </div>
    </div>
  </section>
  
